n8n/inactive-prospect-alert.json
{"name":"Alerta de prospectos inactivos","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":24}]}},"id":"schedule","name":"Revisión diaria","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[160,300]},{"parameters":{"url":"http://prospects:8001/prospects/inactive","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Inactivity-Days","value":"={{ $env.INACTIVITY_DAYS || 3 }}"}]}},"id":"get","name":"Obtener inactivos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,300]},{"parameters":{"jsCode":"return items.map(i => ({json:{event:'inactive_prospect',message:`Prospecto inactivo: ${i.json.name}`,prospect:i.json}}));"},"id":"format","name":"Preparar alerta","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,300]},{"parameters":{"method":"POST","url":"={{ $env.ALERT_WEBHOOK_URL }}","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify($json) }}","options":{}},"id":"notify","name":"Enviar alerta","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,300]}],"connections":{"Revisión diaria":{"main":[[{"node":"Obtener inactivos","type":"main","index":0}]]},"Obtener inactivos":{"main":[[{"node":"Preparar alerta","type":"main","index":0}]]},"Preparar alerta":{"main":[[{"node":"Enviar alerta","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1"}}
