n8n/service-sync.json
{"name":"Sincronización y control de servicios","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"schedule","name":"Cada 15 minutos","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,300]},{"parameters":{"url":"http://dashboard:8004/api/metrics"},"id":"metrics","name":"Consolidar métricas","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[450,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true},"conditions":[{"leftValue":"={{ $json.total_prospects }}","rightValue":0,"operator":{"type":"number","operation":"gte"}}]}},"id":"check","name":"Validar sincronización","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[700,300]}],"connections":{"Cada 15 minutos":{"main":[[{"node":"Consolidar métricas","type":"main","index":0}]]},"Consolidar métricas":{"main":[[{"node":"Validar sincronización","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1"}}

