n8n/service-health-monitor.json
{
  "name": "AutoPulse Cloud - Monitor de salud de servicios",
  "nodes": [
    {"parameters": {}, "id": "manual-trigger", "name": "Prueba manual", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [100, 160]},
    {"parameters": {"rule": {"interval": [{"field": "minutes", "minutesInterval": 5}]}}, "id": "schedule", "name": "Cada 5 minutos", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [100, 320]},
    {
      "parameters": {"assignments": {"assignments": [
        {"id": "prospects-url", "name": "prospectsUrl", "value": "https://REEMPLAZAR-PROSPECTOS.example.com", "type": "string"},
        {"id": "sales-url", "name": "salesUrl", "value": "https://REEMPLAZAR-VENTAS.example.com", "type": "string"},
        {"id": "insurance-url", "name": "insuranceUrl", "value": "https://REEMPLAZAR-SEGUROS.example.com", "type": "string"},
        {"id": "dashboard-url", "name": "dashboardUrl", "value": "https://REEMPLAZAR-DASHBOARD.example.com", "type": "string"}
      ]}, "options": {}},
      "id": "configuration", "name": "Configurar URLs públicas", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [340, 240]
    },
    {"parameters": {"jsCode": "const c=$input.first().json;\nreturn [{json:{service:'prospects',url:c.prospectsUrl+'/health'}},{json:{service:'sales',url:c.salesUrl+'/health'}},{json:{service:'insurance',url:c.insuranceUrl+'/health'}},{json:{service:'dashboard',url:c.dashboardUrl+'/health'}}];"}, "id": "targets", "name": "Construir objetivos", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [580, 240]},
    {"parameters": {"url": "={{ $json.url }}", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "options": {"timeout": 8000}}, "id": "health", "name": "Consultar salud", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [820, 240], "continueOnFail": true, "retryOnFail": true, "maxTries": 2, "credentials": {"httpHeaderAuth": {"id": "REEMPLAZAR_CREDENCIAL", "name": "AutoPulse API Key"}}},
    {"parameters": {"jsCode": "const names=['prospects','sales','insurance','dashboard'];\nconst checks=items.map((item,index)=>({service:names[index],ok:item.json.status==='ok'&&!item.json.error,detail:item.json.error?.message||item.json.status||'sin respuesta'}));\nconst failed=checks.filter(x=>!x.ok);\nreturn [{json:{event:'service_health_failure',message:failed.length?`Servicios con falla: ${failed.map(x=>x.service).join(', ')}`:'Todos los servicios operativos',failed_count:failed.length,checks,checked_at:new Date().toISOString()}}];"}, "id": "summary", "name": "Evaluar servicios", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1060, 240]},
    {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "has-failures", "leftValue": "={{ $json.failed_count }}", "rightValue": 0, "operator": {"type": "number", "operation": "gt"}}], "combinator": "and"}, "options": {}}, "id": "if-failed", "name": "¿Hay servicios caídos?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1300, 240]},
    {"parameters": {"method": "POST", "url": "={{ $('Configurar URLs públicas').first().json.dashboardUrl + '/api/alerts' }}", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify($json) }}", "options": {"timeout": 10000}}, "id": "save-alert", "name": "Registrar falla", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1540, 180], "retryOnFail": true, "maxTries": 3, "credentials": {"httpHeaderAuth": {"id": "REEMPLAZAR_CREDENCIAL", "name": "AutoPulse API Key"}}}
  ],
  "connections": {
    "Prueba manual": {"main": [[{"node": "Configurar URLs públicas", "type": "main", "index": 0}]]},
    "Cada 5 minutos": {"main": [[{"node": "Configurar URLs públicas", "type": "main", "index": 0}]]},
    "Configurar URLs públicas": {"main": [[{"node": "Construir objetivos", "type": "main", "index": 0}]]},
    "Construir objetivos": {"main": [[{"node": "Consultar salud", "type": "main", "index": 0}]]},
    "Consultar salud": {"main": [[{"node": "Evaluar servicios", "type": "main", "index": 0}]]},
    "Evaluar servicios": {"main": [[{"node": "¿Hay servicios caídos?", "type": "main", "index": 0}]]},
    "¿Hay servicios caídos?": {"main": [[{"node": "Registrar falla", "type": "main", "index": 0}], []]}
  },
  "active": false,
  "settings": {"executionOrder": "v1", "timezone": "America/Lima"},
  "tags": [],
  "meta": {"templateCredsSetupCompleted": false}
}
